.product-grid{
			padding:20px 20px;
			display:grid;
			grid-template-columns: 1fr 1fr 1fr 1fr ;
			gap:50px;
		}

		img{
			width:100%;
		}

		p{
			line-height: 1.5;
		}
      
		.product_box{
			padding-top:15px;
			padding-bottom:12px;
			padding-left:20px;
			padding-right:20px;
			line-height: 0;
			box-sizing: border-box;
			gap: 10px;
			
			
		}
		.product_box:hover{
			-moz-box-shadow: 0 0 10px #ccc;
      		-webkit-box-shadow: 0 0 10px #ccc;
      		box-shadow: 0 0 10px #ccc;
		}

		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 100%;
			margin: auto;
			text-align: center;
		}
		.card button {
			border: none;
			outline: 0;
			padding: 25px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
		}

		.card button:hover {
			opacity: 0.7;
		
		}
		
		